<% include ./partials/header %>
<head>
  <style>
    #jam{
      position: absolute;
    }

  </style>
</head>

  <section class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 main-corgi">
      <img id="#jam" src="<%=sup%>">

      <button id="paw-left">Paw Left</button>
      <button id="paw-right">Paw Right</button>
    </div>
  </section>

<% include ./partials/footer %>